﻿<script>
function UserAction() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("output").innerHTML = this.responseText;
        }
    };
    xhttp.open("GET", "http://localhost:64851/api/currenttime", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();

}
</script>

<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>


<button type="submit" onclick="UserAction()">Get the time</button>

<p id="output"></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Cs</h4>
        </div>
    </div>
</div>